.notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.note-title {
    color: white;
    margin-bottom: 10px;
}

.note-description {
    color: #d1d1d1;
    line-height: 1.5;
}

.card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

.edit-btn,
.delete-btn,
.favorite-btn{
    width: 35px;
    height: 35px;

    border: none;
    border-radius: 8px;

    cursor: pointer;

    transition: all .2s ease;
}

.edit-btn {
    background: #6c63ff;
    color: white;
}

.delete-btn {
    background: #ff4d6d;
    color: white;
}

#criarNota {
    background: #6c63ff;
    opacity: 0.8;
    color: white;

    border: none;
    border-radius: 8px;

    padding: 12px 20px;

    cursor: pointer;

    transition: all .2s ease;
}

.favorite-btn {
    background: #2d2d44;
    color: white;
}


